/* styles.css */

:root {
  --main-background-color: rgba(43, 48, 59, 1);
  --secondary-background-color: rgba(34, 38, 47, 1);

  --box-background-color: rgba(219, 157, 71, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.6);
  --input-background-color: rgba(249, 248, 248, 1);

  --button-background-color: rgba(219, 157, 71, 1);
  --button-background-color-hover: rgba(239, 177, 91, 1);
  --button-background-color-focus: rgba(199, 137, 51, 1);
  --button-background-color-active: rgba(199, 137, 51, 1);
  --button-text-color: rgba(34, 38, 47, 1);
  --button-text-color-hover: rgba(34, 38, 47, 1);
  --button-text-color-focus: rgba(34, 38, 47, 1);
  --button-text-color-active: rgba(34, 38, 47, 1);

  --text-dark-on-light-color: rgba(249, 248, 248, 1);
  --text-light-on-dark-color: rgba(28, 31, 51, 1);
  --link-text-color: rgba(219, 157, 71, 1);

  --main-font-family: "Raleway", sans-serif;
}

#root.light-mode-cg {
  --main-background-color: rgba(249, 248, 248, 1);
  --secondary-background-color: rgba(229, 228, 228, 1);

  --box-background-color: rgba(147, 3, 46, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --input-background-color: rgba(249, 248, 248, 1);

  --button-background-color: rgba(147, 3, 46, 1);
  --button-background-color-hover: rgba(207, 63, 106, 1);
  --button-background-color-focus: rgba(187, 43, 86, 1);
  --button-background-color-active: rgba(167, 23, 66, 1);
  --button-text-color: rgba(249, 248, 248, 1);
  --button-text-color-hover: rgba(249, 248, 248, 1);
  --button-text-color-focus: rgba(249, 248, 248, 1);
  --button-text-color-active: rgba(249, 248, 248, 1);

  --text-dark-on-light-color: rgba(28, 31, 51, 1);
  --text-light-on-dark-color: rgba(249, 248, 248, 1);
  --link-text-color: rgba(147, 3, 46, 1);

  --main-font-family: "Raleway", sans-serif;
}

/* Global styles */
#root {
  background-color: var(--main-background-color);
  background: linear-gradient(
    45deg,
    var(--main-background-color),
    var(--secondary-background-color),
    var(--main-background-color),
    var(--secondary-background-color),
    var(--main-background-color),
    var(--secondary-background-color),
    var(--main-background-color)
  );
  font-family: var(--main-font-family);
  color: var(--text-dark-on-light-color);
  max-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-dark-on-light-color);
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--button-background-color-hover);
}

ul {
  list-style-type: none;
  padding: 0;
}

p,
li {
  line-height: 1.7;
}

input,
textarea {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: var(--input-background-color);
  color: var(--text-light-on-dark-color);
  box-shadow: inset 1px 1px 1px 1px var(--box-shadow-color);
}

textarea {
  resize: none;
}

.button-cg {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 8px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
  font-weight: 450;
  box-shadow: inset -1px -1px 1px 1px var(--box-shadow-color);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button-cg:hover {
  background-color: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
  transform: scale(0.98);
}

.subtitle-cg {
  font-size: 1.1em;
}

.hidden-cg {
  display: none;
}

.modal-cg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--box-shadow-color);
}

.modal-cg.open {
  display: block;
}

.modal-content-cg {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-background-color);
  padding: 25px;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.main-cg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  min-height: 100vh;
}

.main-container-cg {
  max-width: 50%;
  padding: 0 8%;
  flex: 1;
}

/* Title Component styles */
.title-cg {
  max-width: 50%;
  padding: 0 8%;
  border-left: 2px ridge var(--box-background-color);
  flex: 1;
}

.title-cg p {
  font-size: 8em;
  line-height: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 20px;
}

.title-lettering-cg {
  color: var(--text-dark-on-light-color);
}

.title-navbar-cg {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  margin-bottom: 35px;
}

.nav-link-cg {
  margin-right: 20px;
}

.nav-link-cg.active {
  display: none;
}

.navbar-icons-cg {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.navbar-icons-cg a {
  margin-right: 20px;
}

.navbar-icons-cg img {
  height: 2em;
}

/* About Me Component styles */
.mobile-icons-cg {
  display: none;
}

/* Portfolio Component styles */
.portfolio-container-cg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-links-cg {
  max-width: 40%;
}

.project-info-cg {
  max-width: 50%;
  flex: 1;
  text-align: right;
}

.project-thumbnail-cg {
  height: 15vh;
  border: 1px solid var(--box-background-color);
  border-radius: 7px;
}

.app-link-icon-cg {
  display: none;
  font-size: 2.1em;
  margin-right: 10px;
}

.project-link-tray-cg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.project-github-icon-cg {
  height: 2em;
}

.project-github-icon-cg:hover {
  filter: brightness(110%);
}

/* Resume Component styles */
.proficiencies-container-cg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.proficiencies-column-cg {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  flex: 1;
}

/* Contact Component styles */
.contact-title-cg,
.contact-submit-button-cg {
  margin-left: 4px;
}

.form-container-cg {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media screen and (max-width: 1270px) {
  p,
  li {
    font-size: 0.9em;
  }

  .title-cg p {
    font-size: 6em;
  }

  .project-thumbnail-cg {
    height: auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 1030px) {
  p,
  li {
    font-size: 0.8em;
  }

  .title-cg p {
    font-size: 4em;
  }

  .subtitle-cg {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .main-container-cg {
    max-width: 65%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mobile-icons-cg {
    display: block;
  }

  p {
    font-size: 1em;
  }

  .subtitle-cg {
    font-size: 1em;
  }

  .title-cg {
    font-size: 1em;
    flex: 0 0 auto;
    border: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    padding-left: 3vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
    width: 15vw;
  }

  .title-lettering-cg {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    white-space: nowrap;
  }

  .title-navbar-cg {
    flex-direction: column;
    margin-bottom: 0;
  }

  .nav-link-cg {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .desktop-icons-cg {
    display: none;
  }

  .navbar-icons-cg {
    justify-content: flex-end;
  }

  .navbar-icons-cg a {
    margin-right: 0px;
    margin-left: 20px;
  }

  .main-container-cg {
    flex: 1;
    margin-left: 30vw;
    text-align: right;
    padding: 0;
  }

  .app-link-icon-cg {
    display: block;
  }

  .portfolio-container-cg {
    flex-direction: row;
    justify-content: flex-end;
  }

  .project-links-cg {
    min-width: 100%;
  }

  .project-info-cg {
    display: none;
  }

  .project-thumbnail-cg {
    height: 15vh;
  }

  .resume-download-cg {
    text-align: right;
    font-size: 1em;
    margin-bottom: 10vh;
  }

  .proficiencies-container-cg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
  }

  .proficiencies-title-cg {
    font-size: 0.9em;
  }

  .form-container-cg {
    align-items: flex-end;
  }

  input,
  textarea {
    width: 100%;
  }
}
